@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';


.exchange{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  .rate{
    display: inline-block;
  }
}
